<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-offset-1">
    <div class="col-md-10">
      <h1 class="text-center">Tasks</h1>
      <div class="text-center">
      <%= link_to new_user_task_path, remote: true do %>
	  <% if @user_tasks.empty? %>
	    <div class="text-center" id="splash-up">
	      <%= image_tag("pad.jpg") %>
	    </div>
	  <% end %>
	<button class="btn btn-sm btn-default add-task">
	  <%= fa_icon "plus"  %> Add Task
	</button>
      <% end %>
      </div>

      <div id="task-form"></div>
      <div id="tasks">
	<%= render 'user_task' %>
      </div>
      <%# will_paginate @collection, renderer: BootstrapPagination::Rails %>

    </div>
  </div>
</div>
